node_modules
dist-ssr
.git
.gitignore
.vscode
.idea
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.local
.env
.env.local
.env.*.local
coverage
.nyc_output
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
README.md
*.md
.github

